[submodule "lib/jdefer"]
	path = node_modules/jdefer
	url = git@github.com:fabianonunes/jdefer.git
[submodule "lib/secure"]
	path = node_modules/secure
	url = https://fabianonunes@github.com/fabianonunes/secure.git
