[submodule "node_modules/fabtc/jdefer"]
	path = node_modules/fabtc/jdefer
	url = git@github.com:fabianonunes/jdefer.git
[submodule "node_modules/fabtc/secure"]
	path = node_modules/fabtc/secure
	url = git@github.com:fabianonunes/secure.git
